@import "components/nav.css";
@import "components/home.css";
@import "components/team.css";
@import "components/footer.css";

@font-face {
  font-family: league-spartan;
  src: url("../../src/fonts/leaguespartan-bold.woff");
}

html,
body {
  font-family: league-spartan, Georgia, "Times New Roman", Times, serif;
  background-color: #322f2f;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#body-content {
  flex: 1 0 auto;
}

#loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
