#team .card {
  border-radius: 20px;
}

#team .card img {
  padding: 20px;
  margin: 0 auto;
}

#team td,
#team th {
  text-align: left;
}

#team-info .card {
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#team-squad h1 {
  font-size: 35px;
  text-align: center;
  color: whitesmoke;
}

#team-squad h1::after {
  display: block;
  content: "";
  width: 30%;
  height: 10px;
  background: purple;
  margin: 0 auto;
  margin-top: 18px;
}

#team-squad .card {
  height: 300px;
  width: 100%;
}

#team-squad .card .card-content {
  padding-top: 20%;
}

#team-squad .btn-player {
  margin: 0 auto;
  bottom: -100px;
  color: white !important;
}
.card .card-reveal {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.team {
  cursor: pointer;
}

#teams {
  height: 100vh;
}

a {
  color: #5f5a5a !important;
}

a:hover {
  color: purple !important;
}

.savedTeam {
  margin-top: 20px;
}

.savedTeam .card {
  border-radius: 20px;
}

.savedTeam img {
  width: 100%;
  padding: 20px;
}

.savedTeam .card-content .card-title {
  font-size: 20px;
  text-align: center;
}

.team-detail {
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  td,
  th {
    padding: 10px;
  }

  #team .card img {
    width: 200px;
    height: 200px;
  }

  #team-info .card {
    margin-top: 50px;
    height: 220px;
  }

  .savedTeam {
    margin-top: 50px;
  }

  .savedTeam img {
    height: 200px;
  }
}
