<!-- Header Section -->
<header>
  <div class="row">
    <div class="col s12 m6 l6 offset-m6 offset-l6 title">
      <h1>Soccer Score App</h1>
      <p>Always Get To Know Latest Match Your Favorite Team</p>
    </div>
    <img src="src/images/home-header-img.svg" alt="header soccer" />
  </div>
</header>

<!-- Football Section -->
<div id="match">
  <div class="container">
    <div class="row">
      <h1>Football Leagues</h1>
      <div class="leagues">
        <div id="data-leagues" class="carousel"></div>
      </div>
      <competition-app></competition-app>
    </div>
  </div>
</div>
