#match {
  background-color: #322f2f;
  color: #a6a6a6;
}

#match h1 {
  width: 30%;
  font-size: 45px;
  margin-top: 180px;
  margin-left: 50px;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#match .card {
  border-radius: 20px;
}

.match-data {
  margin: 50px 0 50px 20px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #a64090;
}

.tabs .tab a {
  color: rgba(211, 114, 195, 0.7);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(219, 178, 246, 0.2);
}

#all-match {
  overflow: auto;
}

td,
th {
  text-align: center;
}
