@import "components/nav.css";
@import "components/home/header.css";
@import "components/home/match.css";
@import "components/team/team.css";

@font-face {
  font-family: league-spartan;
  src: url("../../src/fonts/leaguespartan-bold.woff");
}

body {
  font-family: league-spartan, Georgia, "Times New Roman", Times, serif;
}

#loading {
  display: block;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
